.MuiTypography-h2 {
  color: #333;
  font-size: 4rem;
  font-weight: bold;
}

.MuiTypography-body1 {
  color: #666;
  font-size: 2rem;
  line-height: 1.5;
}

html {
  background-color: #000000;
}

.MuiDrawer-paper {
  width: 250px;
  background-color: #f5f5f5;
}

@media (max-width: 600px) {
  .MuiDrawer-paper {
    position: absolute;
    top: 0;
  }
}

.MuiToolbar-root {
  background-color: #141c2c;
}
